Repository libxsmm/tpp-mlir, pull requests merged in 2025-02, with the labels that each got.

#1008 bump libxsmm
  benchmarks/config/base/base.json
  benchmarks/config/fc/1024x1024x512.json
  benchmarks/config/fc/1024x2560x1024.json
  benchmarks/config/fc/1024x352x512.json
  benchmarks/config/fc/1024x512x256.json
  benchmarks/config/fc/128x1024x1024.json
  benchmarks/config/fc/128x1024x4096.json
  benchmarks/config/fc/128x3072x768.json
  benchmarks/config/fc/128x4096x1024.json
  benchmarks/config/fc/128x768x2304.json
  benchmarks/config/fc/128x768x3072.json
  benchmarks/config/fc/256x1024x1024.json
  benchmarks/config/fc/256x1024x4096.json
  benchmarks/config/fc/256x3072x768.json
  benchmarks/config/fc/256x4096x1024.json
  benchmarks/config/fc/256x768x3072.json
  benchmarks/config/fc/256x768x768.json
  benchmarks/config/matmul/1024x1024x512.json
  benchmarks/config/matmul/1024x2560x1024.json
  benchmarks/config/matmul/1024x352x512.json
  benchmarks/config/matmul/1024x512x256.json
  benchmarks/config/matmul/128x1024x1024.json
  benchmarks/config/matmul/128x1024x4096.json
  benchmarks/config/matmul/128x3072x768.json
  benchmarks/config/matmul/128x4096x1024.json
  benchmarks/config/matmul/128x768x2304.json
  benchmarks/config/matmul/128x768x3072.json
  benchmarks/config/matmul/128x768x768.json
  benchmarks/config/matmul/256x1024x1024.json
  benchmarks/config/matmul/256x1024x4096.json
  benchmarks/config/matmul/256x3072x768.json
  benchmarks/config/matmul/256x4096x1024.json
  benchmarks/config/matmul/256x768x3072.json
  benchmarks/config/matmul/256x768x768.json
  benchmarks/config/omp/dnn-bf16.json
  benchmarks/config/omp/dnn-fp32.json
  cmake/modules/xsmm-dnn.cmake
  cmake/modules/xsmm.cmake
Labels: benchmark-all

#1009 Replace op->erase() with rewriter.eraseOp
  lib/TPP/Transforms/HoistVectorTransfers.cpp
Labels: benchmark-all

#1011 [CI] Fix benchmark triggers
  .github/workflows/tpp-benchmark.yml
Labels: benchmark

#1012 Hoisting vector.transfer operations for bf16 type
  lib/TPP/Transforms/HoistVectorTransfers.cpp
  test/Passes/pass-hoist-vector-transfer-operation-brgemm.mlir
Labels: benchmark-full

#1005 Brgemm register tiling for bf16 type
  benchmarks/config/base/base.json
  benchmarks/config/omp/mlir-fp32-vector-to-kernel.json
  benchmarks/config/omp/torch-dynamo-vector-to-kernel.json
  lib/TPP/Transforms/BrgemmLinalgTiling.cpp
  test/Integration/tile-brgemm-linalg-matmul-bf16.mlir
  test/Integration/tile-brgemm-linalg-matmul.mlir
  test/Passes/pass-tile-brgemm-linalg-matmul.mlir
Labels: benchmark-full
